.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation__list {
    display: flex;
    padding: 0px;
    height: 60px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
}

.navigation__link {
    display: block;
    color: black;
    border: 2px solid rgb(36, 36, 36);
    flex-basis: 33%;
    padding: 15px 30px;
    text-decoration: none;
    background-color: #8C8C8C;
}

.navigation_link:visited {
    background-color: #8c8c8c;
}

.navigation__link:hover {
    background-color: #9cb0cb;
}

.navigation__link:active {
    background-color: #335584;
}